:root {
  --color-01: #7C5DFA;
  --color-02: #9277FF;
  --color-03: #1E2139;
  --color-04: #252945;
  --color-05: #DFE3FA;
  --color-06: #888EB0;
  --color-07: #7E88C3;
  --color-08: #0C0E16;
  --color-09: #EC5757;
  --color-10: #9277FF;
  --color-11: #F8F8F8;
  --color-12: #141624;
}
