.createButton {
  background: red;
  width: 9.375rem;
  text-indent: 0.5rem;
  position: relative;
}

.createButton::before {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9999px;
  background: #FFFFFF url('/icons/plus.svg') no-repeat center / 50% 50%;
}
