.notifier {
  width: 6.5rem;
  height: 2.5rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  border-radius: 8px;
  text-indent: 0.5rem;
}

.notifier::before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9999px;
  left: 1rem;
}

.notifier.before::before {
  background: #33D69F;
}

.notifier.pending::before {
  background: #FF8F00;
}

.notifier.end::before {
  background: #373B53;
}

.before {
  color: #33D69F;
  background: #E6F9F0;
}

.pending {
  color: #FF8F00;
  background: #FFF4E6;
  text-indent: 1rem;
}

.end {
  color: #373B53;
  background: #F1F1F4;
}
